{% set pagetitle = '{linotp2:device:authenticate}'|trans %}
{% extends 'base.twig' %}
{% block content %}
    {% if error %}
    <div class="pure-g">
        <div class="pure-u-1">
            <div class="message-box error">
            <h3>{{ '{linotp2:error:header}'|trans }}</h3>
            <p>{{ error|trans }}</p>
            </div>
        </div>
    </div>
    {% endif %}
    <h2 style="">{{ pagetitle }}</h2>
    <p>{{ '{linotp2:otp:intro}'|trans }}</p>

    <div class="center">
        <form class="pure-form pure-form-aligned center-form" action="?" method="post" name="f">

            <div class="form-align">
                <div class="pure-control-group">
                    <label for="otp">{{ '{linotp2:otp:label}'|trans }}</label>
                    <input id="otp" type="text" name="otp" tabindex="1" class="edge" autofocus=""/>
                </div>
            </div>
	    <br/>
	    {% for name, value in params %}
            <input type="hidden" name="{{ name|escape('html') }}" value="{{ value|escape('html') }}" />
            {% endfor %}
            <button class="pure-button pure-button-red pure-input-1-2 pure-input-sm-1-1 right" id="submit_button" tabindex=6 type="submit">{{
            '{linotp2:otp:submitbutton}'|trans }}</button>
	    <br/>
        </form>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
{% endblock %}

